@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import '{}/node_modules/bulma-scss/scss/utilities/_all.scss';

$tron: #ddf3f0;
$body-background: $black-bis;
$white: #ddf3f0;
$title: $tron;
$subtitle: $tron;
$text: $tron;
$text-strong: $tron;
$text-light: $grey-light;
$link-hover: $grey;

$family-sans-serif: "Lato", "Segoe UI Light", "Gill Sans", "Helvetica Neue","Helvetica", "Arial", sans-serif;

$family-primary: $family-sans-serif;

@import "{}/node_modules/bulma-scss/scss/base/_all.scss";
@import "{}/node_modules/bulma-scss/scss/elements/_all.scss";
@import "{}/node_modules/bulma-scss/scss/components/_all.scss";
@import "{}/node_modules/bulma-scss/scss/grid/_all.scss";
@import "{}/node_modules/bulma-scss/scss/layout/_all.scss";

body {  
  text-transform: uppercase;
  text-shadow: 0px 0px 4px rgb(255,255,255);
}

.hero, .nav  {
  background-color: $black-bis;
}

.countdown.hero {
  background-image: url('/images/grid.png');
}

.nav {
  height: 5rem;
  border-bottom: 1px solid rgba(255,255,255,.3);
}

.countdown-container {
  max-width: 840px;
  margin: auto;
  background-image: url('/images/countdown-bg.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;

  .countdown-wrapper {
    margin: auto;
    padding-bottom: 100px;

    & > div {
      width: 100%;
    }

    .status {
      font-family: 'Audiowide';
      text-transform: uppercase;
      font-size: 20px;
      line-height: 38px;
    }

    .digits-container {
      width: 100%;
      padding: 30px 60px 0 60px;

      .digits {
        font-family: 'Audiowide';
        text-align: center;

        & > div {
          font-size: 65px;
          text-shadow: 0px 0px 10px rgba(255,255,255,.4);
        }
      }
    }

    .meta-container {
      padding-top: 30px;
    }

  }
}
